{% extends 'layout.html.twig' %}
{% block stylesheet %}<link rel="stylesheet" href="/assets/css/admin_style.css">
{% endblock %}
{% block content %}
	{% include "Admin/_header.html.twig" %}
	<main>
		<a class="white_link" href="/"><img id="return_button" src="/assets/images/bouton-retour.png" alt=""></a>
		<h1 id="dashboard_title">bandes dessinées</h1>
		<div class="row justify-content-center table-responsive">
			<div class="col-8">
				<a class="white_link" href="/admin/add"><input type="submit" id="add_btn" class="btn btn-dark" value="ajouter">
				<table class="table table-responsive">
					<thead>
						<tr>
							<th class="id_column">id</th>
							<th class="title_column">Titre</th>
							<th class="author_column">Auteur</th>
							<th class="add_suppr_column" colspan="2">Modif. / Suppr.</th>
						</tr>
					</thead>
					<tbody>
						{% for comic in comics %}
							<tr>
								<td>
									{{ comic.id }}
								</td>
								<td>
									{{ comic.title }}
								</td>
								<td>
									{{ comic.author_name }}
								</td>
								<td>
									<button id="add_button" type="button" class="btn btn-dark"><a href="edit?id={{ comic.id }}">éditer</a></button>
								</td>
								<td>
									<form action="/admin/delete" method="POST">
										<input type="hidden" name="id" value="{{ comic.id }}">
										<button type="submit" id="delete_btn" class="btn btn-dark">suppr.</button>
									</form>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			<a class="white_link" href="/admin/list"><img id="top_page_button" src="/assets/images/top_page_button.png" alt=""></a>
		</div>
	</main>
{% endblock %}

