{% extends 'layout.html.twig' %}
{% block stylesheet %}
	<link rel="stylesheet" href="/assets/css/admin_style.css">
{% endblock %}
{% block title %}Admin{{ parent() }}
{% endblock %}
{% block content %}
	{% include "Admin/_header.html.twig" %}
	<main>
		<a class="white_link" href="/"><img id="return_button" src="/assets/images/bouton-retour.png" alt=""></a>
		<h1 id="dashboard_title">bandes dessinées</h1>
		<div class="row justify-content-center table-responsive">
			<div class="col-8">
				<a class="white_link" href="/admin/add"><input type="submit" id="add_btn" class="btn btn-dark" value="ajouter"></a>
				<table class="table table-responsive">
					<thead>
						<tr>
							<th class="first_column">Titre</th>
							<th class="second_column">Auteurs</th>
							<th class="add_suppr_column" colspan="2">Modif. / Suppr.</th>
							<th class="detail_column">détails</th>
						</tr>
					</thead>
					<tbody>
						{% for comic in comics %}
							<tr>
								<td class="table_line align-middle">
									{{ comic.title }}
								</td>
								<td class="table_line align-middle">
									{% for author in authors %}
										{% if comic.id == author.comic_book_id %}
											{{ author.first_name ~ ' ' ~ author.last_name }}</br>
										{% endif %}
									{% endfor %}
								</td>
								<td class="align-middle">
									<a href="edit?id={{ comic.id }}"><input type="submit" id="edit_btn" class="btn btn-dark" value="éditer"></a>
								</td>
								<td class="align-middle">
									<form action="/admin/delete" method="POST">
										<input type="hidden" name="id" value="{{ comic.id }}">
										<button type="submit" id="delete_btn" class="btn btn-dark" onclick="return confirm('Voulez-vous supprimer cette BD ?')">suppr.</button>
									</form>
								</td>
								<td>
									<form action="/search" method="POST">
										<input type="hidden" name="id" value="{{ comic.id }}">
										<button type="submit" id="view_btn" class="btn btn-dark">afficher</button>
									</form>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			<div class=" d-flex justify-content-end fixed-bottom mb-5" id="scrollUp">
				<a href="#top"><img id="scrollup_img" src="/assets/images/bouton-retour-haut.png" onclick="scroll(0, 100);"/></a>
			</div>
		</div>
	</main>
{% endblock %}

{% block javascript %}

	<script src="/assets/JS/script.js"></script>

{% endblock %}
