{% extends 'layout.html.twig'%}
{% block stylesheet %}<link rel="stylesheet" href="/assets/css/admin_style.css">{% endblock %}

{% block title %}
   Admin - Modification BD{{ parent() }}
{% endblock %}



{% block content %}
    {% include "Admin/_header.html.twig" %}


    <div class="container-fluid">
        <div class="row p-3 mt-5 text-center">
            <h1 id="add_bd_title"> MODIFIER UNE BANDE DESSINÉE</h1>
        </div>
    </div>
    
     <form class="form-horizontal" role="form" method="POST" enctype="multipart/form-data">
        <div class='container'>
            <div class='row'>
                <div class="col-lg-6">
                    <div class="form-group row mt-5">
                        <label for="title" class="label_form_add_BD col-sm-2 control-label text-right">TITRE <span class="asterisk">*</span></label>
                        <div class="col-sm-8">
                            <input type="text" class="input-bg form-control" name="title" id="form_title" value="{{ comicBook.title }}" required>
                        </div>
                    </div>

                    <div class="form-group row mt-3">
                        <label for="isbn" class="label_form_add_BD col-sm-2 control-label">ISBN</label>
                        <div class="col-sm-8">
                            <input type="text" class="input-bg form-control" name="isbn" id="isbn" value="{{ comicBook.isbn }}">
                        </div>
                    </div>

                    <div class="form-group row mt-3">
                        <label for="date_of_release" class="label_form_add_BD col-sm-3 control-label">DATE DE SORTIE <span class="asterisk">*</span></label>
                        <div class="col-sm-7">
                            <input type="date" class="input-bg form-control" name="date_of_release" id="release_date" value="{{ comicBook.date_of_release }}" required>
                        </div>
                    </div>

                    <div class="form-group row mt-3">
                        <label for="category_id" class="label_form_add_BD col-sm-2 control-label ">GENRE <span class="asterisk">*</span></label>
                            <div class="col-sm-8">
                                <select class="form-select input-bg" name="category_id" id="gender_select" aria-label="Example select with button addon" required>
                                    <option value="{{ comicBook.category_id }}">{{ comicBook.category }}</option>
                                    {% for genre in comicGenres %}
                                    <option value="{{ genre.id }}">{{ genre.category }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                    </div>

                    <div class="form-group row mt-3">
                        <label for="price" class="label_form_add_BD col-sm-2 control-label">PRIX</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control input-bg" name="price" id="price" value="{{ comicBook.price }}">
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="form-group row mt-5">
                        <label for="volume" class="label_form_add_BD col-sm-2 control-label">TOME</label>
                        <div class="col-sm-8">
                            <input type="text" class="input-bg form-control" name="volume" id="tome" value="{{ comicBook.volume }}">
                        </div>
                    </div>

                    <div class="form-group row mt-3">
                        <label for="nb_pages" class="label_form_add_BD col-sm-2 control-label">NB PAGES</label>
                        <div class="col-sm-8">
                            <input type="text" class="input-bg form-control" name="nb_pages" id="number_pages" value="{{ comicBook.nb_pages }}">
                        </div>
                    </div>

                    {% set index = 0 %}
                    {% for author in comicAuthors %}
                        {% if comicBook.id ==  author.comic_book_id %}
                        <div class="form-group row mt-3">
                            <label for="author_id{{ index }}" class="label_form_add_BD col-sm-2 control-label ">AUTEUR <span class="asterisk">*</span></label>
                                <div class="col-sm-8">
                                    <select class="form-select input-bg" name="author_id{{ index }}" id="author_select" aria-label="Liste déroulante afin de choisir un auteur" required>
                                        <option value="{{ author.id }}">{{ author.first_name ~ ' ' ~ author.last_name }}</option>
                                        {% for author in authorList %}
                                        <option value="{{ author.id }}">{{ author.first_name ~ ' ' ~ author.last_name }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                        </div>
                        {% set index = index + 1 %}
                        {% endif %}
                    {% endfor %}
                </div>

                <div class="col-lg-12">
                    <div class="form-group row mt-3">
                        <label for="pitch" class="label_form_add_BD col-sm-2 col-md-2 col-lg-1 control-label text-right">Résumé <span class="asterisk">*</span></label>
                        <div class="col-sm-8 col-lg-10 col-md-8">
                        <textarea class="form-control input-bg" name="pitch" id="resume_text_area" rows="4" required>{{ comicBook.pitch }}</textarea>
                    </div>
                </div>
                
                <div class="col-lg-8 col-md-8 col-sm-10 col-xs-6">
                    <div class="form-group row mt-5">
                        <label for="cover" class="label_form_add_BD col-sm-3 col-md-3 col-lg-2 control-label">Couverture </label>
                        <div class="col-sm-9 col-md-7 mb-5">
                            <input type="file" class="input-bg form-control" name="cover" id="cover">
                        </div>

                        <input type="hidden" class="input-bg form-control" name="cover_link" id="cover_link" value="{{ comicBook.cover }}" required>

                        <div class="col-sm-2 col-md-2 mb-5">
                            <img class="rounded img-fluid" src="/{{ comicBook.cover }}">
                        </div>
                        <div class='col-sm-1 col-md-1'>
                            <button name="send" type="submit" class="btn send_btn btn-dark">Envoyer</button>
                        </div>
                           
                    </div>
                </div>
            </div>
        </form>

        <div class="container">
            <div class="row text-center">
                <h1> LES CHAMPS <small class="asterisk">(*)</small> SONT OBLIGATOIRES.</h1>
            </div>
        </div>

        <div class="container text-center">
            {% for error in errors %}
                <p class="text-warning fs-6 lh-1">{{ error }}</p>
            {% endfor %}
        </div>

    {% endblock %}