{% extends 'layout.html.twig'%}
{% block stylesheet %}<link rel="stylesheet" href="/assets/css/search_style.css">
	<link rel="stylesheet" href="/assets/css/details_style.css">
	<link rel="icon" href="" type="image/svg+xml">

{% endblock %}

{% block title %}
	{{ parent() }}
	- BD details
{% endblock %}

{% block content %}

	<header class="container-fluid header_search mb-4 order-md-1">
		<div class="row">
			<div class="col-md-3 col-xl-2 col-10 d-flex justify-content-start justify-content-lg-start">
				<h1 class="website_title ">B<span>d</span>
					C<span>ult'</span>
				</h1>
			</div>
			<div class="col-md-2 col-2 p-3 d-flex justify-content-center align-items-center order-md-3">
				<img src="assets/images/admin_icon.png" id="admin_icon" alt="" class="justify-content-center">
			</div>
			<div class="col-xl-8 col-md-7 ">
				<form action="/" class="search_bar w-85 ps-3 pe-2 d-flex mt-2 mt-md-4 justify-content-center order-md-2" method="POST">
					<input class="search_input w-100 me-2 d-flex" type="search" name="keywords" placeholder="Rechercher une BD..." aria-label="Search" required>
					<button class="search_button" type="submit"><img id="snag_icon" src="/assets/images/snag_icon.png" alt=""></button>
				</form>
			</div>
		</div>
	</header>

<div class="container-fluid">
		<div class="justify-content-center mt-5  d-none d-md-flex p-md-0">
			<div class="bulle col-xl-6 col-lg-8 col-md-11 row mt-md-5 mt-xl-0">
				<div class="col-xl-5 p-sm-5 p-md-0 col-md-6 div_img_details p-0">
					<div class="h-100 w-100 p-2">
						<img class="img_details img-fluid h-100" src="{{comics.cover}}" alt="" srcset="">
					</div>
				</div>
		
				<div class="col-lg-6 col-xl-7 col-md-6 mb-lg-3 details_card_body p-2">
					<div class="detail_title">
						<h1 class="p-2 fs-3">{{comics.title}}</h1>
					</div>
					<div class="detail_description text-truncate">
						<h3 class="p-2 fs-4">
							Une BD de 
							<span class="author_name_details">
							
								{{comicAuthor.first_name}}
							
							</span>
						</h3>
					</div>

					<div class="detail_tome_date">
						<h2 class="px-2 fs-5">
							{{comics.category}}
						</h2>
					</div>


					<div class="detail_tome_date">
						<h2 class="px-2 fs-5">
							<i class="icon-calendar"></i>{{comics.date_of_release}} | tome n°{{comics.volume}} | {{comics.nb_pages}} pages
						</h2>
					</div>

					<div class="detail_isbn">
						<h2 class=" px-2 fs-5">
							{{comics.isbn}}
						</h2> 

					<div class="card_footer">
						<h3 class="px-2 fs-5">
							Chez
							<span class="bottom editor_name_details">{{comicAuthors.editor}}</span>
						</h3>
					</div>
						
						<hr>
					</div>

					<div class="">
						<h3 class="px-2 fs-md-5 mb-3 mb-lg-0 fs-5 pitch_details">
							Résumé :<br><br> {{comics.pitch}}
						</h3>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- mobile section -->

	<div class="justify-content-center d-flex d-md-none flex-direction-column">
		<div class=" col-10 col-sm-1O  mt-2">
			<div class=" p-0">
				<img class="img-fluid h-100 w-100 img_sm_details" src="{{comics.cover}}" alt="" srcset="">
			</div>

			<div class="p-0 bulle mt-4">
				<div class="accordion justify-content-center">
					<div class="accordion-element active">
						<h1 class="accordion-header justify-content-center d-flex p-2">Informations  ▼ </h1>
						<div class=" accordion-content fs-3">
							<p class = "text-truncate p-0 px-2"> 
								<span class="detail_title_mobile fs-1">{{comics.title}}</span> <br>
								<span class="detail_author_mobile fs-3">Par {{comics.author_name}} {{comicsAuthor.lastname}} </span><br>
								<span class="detail_global_infos_mobile fs-4">{{comics.date_of_release}} | tome n°{{comics.volume}} | {{comics.nb_pages}} pages <br></span>
								<span class="detail_global_infos_mobile fs-4">{{comics.category}} <br></span>
								<span class="detail_global_infos_mobile detail_isbn_mobile fs-5">isbn : {{comics.isbn}}<span>
							</p>
						</div>
					</div>
					<div class="accordion-element">
						<h1 class="accordion-header justify-content-center d-flex p-2">Résumé  ▼</h1>
						<div class="accordion-content accordion-content-pitch fs-4">
							<p>{{comics.pitch}}
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

<footer class="mt-5 home_footer d-md-none d-flex justify-content-between align-items-center bg-dark px-3">
	<a href="">Team Bd Cult'</a>
	<a href="">2022 - Wild Code School</a>
</footer>

<footer class="mt-5 fixed-bottom d-none home_footer d-md-flex justify-content-between align-items-center bg-dark px-3">
    <a href="">Team Bd Cult'</a>
    <a href="">2022 - Wild Code School</a>
</footer>
	{% block javascript %}

		<script src="/assets/JS/script.js"></script>
		
	{% endblock %}

	<!--format mobile/incorporation de JS-->

{% endblock %}
