{% extends 'layout.html.twig'%}
{% block stylesheet %}<link rel="stylesheet" href="/assets/css/search_style.css">
{% endblock %}

{% block title %}
	{{ parent() }}
	- Search BD
{% endblock %}

{% block content %}
	{% include "Home/_footer.html.twig" %}

	<!--Header -->

	<header class="container-fluid header_search mb-4 order-md-1">
		<div class="row">
			<div class="col-md-3 col-10 d-flex justify-content-start justify-content-lg-start">
				<h1 class="website_title ">B<span>d</span>
					C<span>ult'</span>
				</h1>
			</div>
			<div class="col-md-2 col-2 p-3 d-flex justify-content-center align-items-center order-md-3">
				<img src="assets/images/admin_icon.png" id="admin_icon" alt="" class="justify-content-center">
			</div>
			<div class="col-md-7  col-12 ">
				<form action="/" class="search_bar w-85 ps-3 pe-2 d-flex mt-2 mt-md-4 justify-content-center order-md-2" method="POST">
					<input class="search_input w-100 me-2 d-flex" type="search" name="keywords" placeholder="Rechercher une BD..." aria-label="Search" required>
					<button class="search_button" type="submit"><img id="snag_icon" src="/assets/images/snag_icon.png" alt=""></button>
				</form>
			</div>
		</div>
	</header>

	<!-- Section for the first and second element on md and lg -->

	{% for comicBook in comicBooks %}
		{% set counter = counter + 1 %}
		{% if counter == 1 %}
			<div class=" container-fluid row mb-4 d-none d-md-flex ">
				<div class=" d-flex col-lg-6 col-md-6 justify-content-center justify-content-lg-end p-md-5 p-lg-2">
					<div class=" row justify-content-lg-end justify-content-md-center m-4 p-md-4 p-lg-1">
						<div class=" col-md-5 col-lg-4 p-1 div-img-card">
							<img src="{{comicBook.cover}}" alt="comic-book-cover" class=" py-2 img-fluid img_search_big ">
						</div>
						<div class="col-md-6 col-lg-7 div-back-card-body">
							<div class="card h-100 border-0">
								<div class="card-body d-flex flex-column">

									<p class="mt-2 card-text d-inline-block text-truncate" style="">
										{{comicBook.title}}
									</p>

									<p class="card-text d-inline-block text-truncate" style="">
										Tome 2
									</p>

									<p class="card-text d-inline-block text-truncate" style="">
										Test longueur de la description et texte tronqué
									</p>

									<p class="card-text d-inline-block text-truncate" style="">
										<span class="color-author">
											{{comicBook.author_name}}
										</span>
									</p>

									<p>
										{{comicBook.date_of_release}}
									</p>

									<a class="btn-card-bottom btn-sm btn btn-dark mt-auto stretched-link" target="">
										En savoir plus
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			{% endif %}
		{% endfor %}

		{% for comicBook in comicBooks %}
			{% set counter = counter + 1 %}
			{% if counter == 2 %}
				<div class=" d-flex col-lg-6 col-md-6 justify-content-center justify-content-lg-start p-md-5 p-lg-2">
					<div class="row justify-content-lg-end justify-content-md-center m-4 p-md-4 p-lg-1">
						<div class=" col-md-5 col-lg-4 p-1 div-img-card">
							<img src="{{comicBook.cover}}" alt="" srcset="" class=" py-2 img-fluid img_search_big ">
						</div>
						<div class="col-md-6 col-lg-7 div-back-card-body">
							<div class="card h-100 border-0">
								<div class="card-body d-flex flex-column">

									<p class="mt-2 card-text d-inline-block text-truncate">
										{{comicBook.title}}
									</p>

									<p class="card-text d-inline-block text-truncate">
										Tome 2
									</p>

									<p class="card-text d-inline-block text-truncate mr-4">
										Test longueur de la description et texte tronqué
									</p>

									<p class="card-text d-inline-block text-truncate">
										<span class="color-author">
											{{comicBook.author_name}}
										</span>
									</p>

									<p>
										{{comicBook.date_of_release}}
									</p>

									<a class="btn-card-bottom btn-sm btn btn-dark mt-auto stretched-link" target="">
										En savoir plus
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		{% endif %}
	{% endfor %}

	<!-- section for the small pictures -->

	{% for comicBook in comicBooks %}
		{% set counter = counter + 1 %}
		{% if counter == 1 %}
			<div class="container-fluid">
				<ul>
					<div class="row col-lg-6 d-flex d-md-none">
						<li class="col-3 col-md-3 d-flex align-items-center justify-content-center justify-content-md-end">
							<img src="{{comicBook.cover}}" class="img-fluid-search h-100 " alt="">
						</li>
						<div class="col-8 row col-sm-8 col-md-7 mb-3 p-2">
							<div class="infos-bd-truncated align-self-center">
								<li>
									<span class="bd-description fs-4 mb-2">
										{{comicBook.title}}
										{{comicBook.author_name}}
										| T
										<li>
											<small class="fs-6">{{comicBook.pitch}}</li>
										</li>
									</div>
								</li>
							</div>
						</div>
					</div>
				</ul>
			</div>

		{% endif %}
	{% endfor %}

	{% for comicBook in comicBooks %}
		{% set counter = counter + 1 %}
		{% if counter == 2 %}
			<div class="container-fluid d-flex d-md-none col-md-6">
				<ul>
					<div class="row mb-3">
						<li class="col-3 col-md-3 d-flex align-items-center justify-content-center justify-content-md-end">
							<img src="{{comicBook.cover}}" class="img-fluid-search " alt="">
						</li>
						<div class="col-8 row col-sm-8 col-md-7 p-2">
							<div class="infos-bd-truncated align-self-center">
								<li>
									<span class="bd-description fs-4 mb-2">
										{{comicBook.title}}
										{{comicBook.author_name}}
										| T
										{{comicBook.volume}}<span></li>
										<li>
											<small class="fs-6">{{comicBook.pitch}}</li>
										</li>
									</div>
								</li>
							</div>
						</div>
					</div>
				</ul>
			</div>

		{% endif %}
	{% endfor %}

	<div class="container-fluid">
		<ul>
			{% for comicBook in comicBooks %}
				{% set counter = counter + 1 %}
				{% if counter > 2 %}

					<div class="row mb-3">
						<li class="col-3 col-md-3 d-flex align-items-center justify-content-center justify-content-md-end">
							<a href="#" class="text-decoration-none"><img src="{{comicBook.cover}}" class="img-fluid-search " alt=""></a>
						</li>
						<div class="col-8 col-sm-8 col-md-7 mb-3 p-2">
							<div class="infos-bd-truncated align-self-center">
								<li>
									<span class="bd-description fs-4 mb-2">
										<a href="" class="text-decoration-none">{{comicBook.title}}</a>
										{{comicBook.author_name}}
										| T
										{{comicBook.volume}}<span></li>
										<li>
											<small class="fs-6">{{comicBook.pitch}}</li>
										</li>
									</div>
								</li>
							</div>
						</div>
					{% endif %}
				{% endfor %}
			</ul>
		</div>

		<!--button top of the page -->

		<div class=" d-flex justify-content-end fixed-bottom mb-5" id="scrollUp">
			<a href="#"><img id="scrollup_img" src="assets/images/bouton-retour-haut.png" onclick="scroll(0, 100);"/></a>
		</div>


	{% endblock %}

	{% block javascript %}

		<script src="/assets/JS/script.js"></script>
		
	{% endblock %}
